@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@theme {
    --font-lato: 'Lato', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
    --color-primary: #183b4e;
    --color-secondary: #bf9000;
    --color-secondary-fade: #bf900045;
    --color-secondary-fade-2: #bf90008f;
}

body {
    @apply font-lato text-sm md:text-base overflow-x-hidden;
}

/* Button variant */
.primary {
    @apply bg-secondary text-white;
}
.ghost-primary {
    @apply bg-transparent text-secondary border border-secondary;
}
.ghost-white {
    @apply bg-transparent text-white border border-white;
}
